body{
    color: blue;
    background: orange;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;

}
h1{
    color: brown;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}
#bio-image
{
margin-left: 50px;
}
#contact-info,
#main-bio
{
    width: 60%;
    float:left;
}
a{
    color: pink;
}
.myh2{
    color: aquamarine;
    
}